{% extends "layout.html" %}

{% block title %}
    Makes Your Life Easier
{% endblock %}

{% block main %}
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search your product here..">

    <table class="table-responsive table-striped thead-light" id="myTable">
    <thead>
        <tr>
            <th style="width:60%;">Product Name</th>
            <th style="width:40%;">Price</th>
        </tr>
    </thead>
    {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
        </tr>
    {% endfor %}
    </table>
    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
        
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                tr[i].style.display = "none";
                }
            }
            }
        }
    </script>
{% endblock %}
